body{
 background-color:#e6e6e6;
}

header{background-color:white;
}
footer {
position: absolute;

bottom:0;

padding-top: 10px;

text-align: center;

width: 100%;

height: 80px;

}

#txt {
    color :  #ff00ff;

}

#sign {
    background-color: #4d94ff;
    color: white;
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 50px;
}

#sign1 {
    background-color: #00004d;
    color: white;
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 50px;
}

#sign:hover {
  background-color: #ff00ff;
}

#sign1:hover {
  background-color: #ff00ff;
}
