body{
 background-color:#e6e6e6;
 color:#ff00ff;
}

header{background-color:#ffffff;
}
footer {
position: absolute;

bottom:0;

padding-top: 10px;

text-align: center;

width: 100%;

height: 80px;

background: rgb(0, 0, 102);

}
