/*css of search bar*/
* {box-sizing: border-box;}

body{
 background-color:white;
}

header{background-color:white;
}

footer {
position: absolute;

bottom:0;

padding-top: 10px;

text-align: center;

width: 100%;

height: 80px;

}

.topnav .search-container {
  float: right;
}



.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

#login-input {
  border-radius: 50px;
  outline: none;
  height: 60px;
  width: 300px;

}

#login1 {
  border-radius: 50px;
  outline: none;
  height: 60px;
  width: 300px;
}

#submit {
  border-radius: 50px;
  outline: none;
  height: 30px;
  width: 100px;
  background-color: #ff00ff;
}

#text {
  color : #00004d;
}

#tet {
  color : #00004d;
}

#lol {
  border-radius: 50px;
  outline: none;
  height: 60px;
  width: 300px;
}

#lo {
  border-radius: 50px;
  outline: none;
  height: 60px;
  width: 300px;
}

#submit1 {
  border-radius: 50px;
  outline: none;
  height: 30px;
  width: 100px;
  background-color: #ff00ff;
}

#submit2 {
  border-radius: 50px;
  outline: none;
  height: 30px;
  width: 100px;
  background-color: #ff00ff;
}

#name {
  color : #00004d;
  font-size: 45px;
}

#degree {
  color : #00004d;
  font-size: 30px;
}

#words {
  color : #00004d;
  font-size: 30px;
}

#cv {
  border-radius: 50px;
  outline: none;
  height: 50px;
  width: 100px;
  background-color: #ff00ff;
}

#yes {
  color : #00004d;
}

#yes2 {
  color : #00004d;
}

#alpr {
  border-radius: 50px;
  outline: none;
  height: 70px;
  width:70px;
  background-color: #00004d;
  color: white;
}

#alply {
  border-radius: 50px;
  outline: none;
  height: 70px;
  width: 70px;
  background-color: #4d94ff;
  color: white;
}

#alhome {
  border-radius: 50px;
  outline: none;
  height: 70px;
  width: 70px;
  background-color: #4d94ff;
  color: white;
}


/*css of search bar*/

.sign{ height:150px ; width:200px; background-color: #ff00ff; color:#ff3399; 
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff00ff;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

/* Optional: Hover effect */
.custom-button:hover {
  background-color: #2980b9;
}

/* List styles (optional, adjust as needed) */
.button-list {
  list-style: none;
  padding: 0;
}

.button-list li {
  margin-bottom: 10px;
}

.div1{
  display: inline-block;
  padding: 10px 20px;
  background-color: #4d94ff;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

.div1:hover {
  background-color: #00004d;
}