<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/alum_apply" method="post">

        <input type="checkbox" name="box" value="spL5lVigS1PCmo7QSANzdMPeDpI2" placeholder="At Bay"><p>At Bay</p>
        <input type="checkbox" name="box" value="GNTYLNZh4ERTP2q5J1FQu7S1WiI2" placeholder="Google"><p>Google</p>
        <input type ='submit'>


    </form>
</body>
</html>