<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<header>
    <nav>
        <center>   
        <link rel="stylesheet" href="static/css/topnav.css">
        <!-- <img class="topbar" src="static/imgs/logo.png" > -->
        <a class="topbar" href="https://place-il.org/about/">About Us</a>
        <a class="topbar" href="https://place-il.org/contact-us/">Join Us</a>
        </center>
      </nav></header>

    <p>{{user["name"]}}</p>
    <p>degree: {{user["degree"]}}</p>
    <form action="/alum_profile" method="post" enctype="multipart/form-data">
    <!-- type your CV here<input type="text" name="CV-TEXT" height="2000" width="100px"> -->
    Or Upload A File Here <input type="file" name="CV">
    <input type="submit">
</form>

    {%if user["CV"] != None %}
    <p > {{user["CV"]}}</p>
    {%endif%}

<h2>Here Are Your Applications And Their Satuts</h2>
<ul>
{%if applications != None%}    
{%for appli in applications%}
<li>{{appli}} {{applications[appli]["Role"]}} : {{applications[appli]["Status"]}}</li>
{%endfor%}
{%endif%}
</ul>

<footer>
   <img src="static/imgs/footer.png" style=width="80" height="450">
</footer>
</body>
</html>