<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>a_login</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<br>
<br>
<br> 
<br>
<br>
<center>
    <h1>alumni login </h1>
</center>
<br>
<br>
<br> 
<center>
    <form action="/alum_login" method="post">
        <input id="login-input" type="email" placeholder="email" required="@" name="email">
        <br>
        <br>
        <input id="login1" type="password" placeholder="password" minlength="6" name="password">
        <br>
        <br>
        <input type="submit" id = "submit">
    </form>
</center>
<br>
<br>
<br> 
<br>
<br>
<br>
<br> 
<br>
<br>
<br> 
<br>
<br>
<br> 
<br>
<br>
<br>
    <footer> 
    <img src="static/imgs/footer.png" style=width="80" height="450">  
    </footer>

</body>
</html>