<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/picture_hover.css">
</head>
<body>
<style>


.image-container:hover {
    background-image: var(--hover-image);
    /* please dont remove this - oded ;) */
 }
</style>

<header> <nav>
    <center>   
    <link rel="stylesheet" href="static/css/topnav.css">
    <!-- <img class="topbar" src="static/imgs/logo.png" > -->
    <a class="topbar" href="https://place-il.org/about/">About Us</a>
    <a class="topbar" href="https://place-il.org/contact-us/">Join Us</a>
    </center>
  </nav></header>

<div>
    <a href="/alum_profile"><button id = "alpr" >profile</button></a>
</div>

<center>
<div style="width:400px;float:left;border:100px;margin-left:30%; --hover-image:url(static/googleimages/images/atbaydescription.png)"class="image-container" >
  <img src="static/googleimages/images/atbaylogoo.png"  id="hover" alt="atbay" class="image" />
</div>
<div style="width:400px;float:left;--hover-image:url(static/googleimages/images/healthyiodescription.png)"class="image-container">
  <img src="static/googleimages/images/healthyiologoo.png" alt="healthyio" class="image" />
</div>
</br>
<div class="image-container" style="width:400px;float:left;border:100px;margin-left:30%;--hover-image:url(static/googleimages/images/nokiadescription.png)"class="image-container">
<img src="static/googleimages/images/nokialogo.png" alt="nokia" class="image" />
</div>
<div class="image-container" style="width:400px;float:left;--hover-image:url(static/googleimages/images/armisdescription.png)"class="image-container">
<img src="static/googleimages/images/armislogo.png" alt="armislogo" class="image" />
</div>
<div class="image-container" style="width:400px;float:left;border:100px;margin-left:30%;--hover-image:url(static/googleimages/images/hibobdescription.png)"class="image-container">
<img src="static/googleimages/images/hiboblogo.png" alt="hibob" class="image" />
</div>
<div class="image-container" style="width:400px;float:left;--hover-image:url(static/googleimages/images/riskifieddescription.png)"class="image-container">
<img src="static/googleimages/images/riskifiedlog.png" alt="riskifiedlogo" class="image" />
</div>
    <div class="image-container" style="width:400px;float:left;border:100px;margin-left:30%;--hover-image:url(static/googleimages/images/ciscodescription.png)"class="image-container">
<img src="static/googleimages/images/ciscologo.png" alt="cisco" class="image" />
</div>

<div class="image-container" style="width:400px;float:left;--hover-image:url(static/googleimages/images/attdescription.png)"class="image-container">
<img src="static/googleimages/images/att.png" alt="attlogo" class="image" />
</div>
        <div class="image-container" style="width:400px;float:left;border:100px;margin-left:30%;--hover-image:url(static/googleimages/images/similarwebdescription.png)"class="image-container">
<img src="static/googleimages/images/similarweb.png" alt="similarweb" class="image" />
</div>
    <div class="image-container" style="width:400px;float:left;--hover-image:url(static/googleimages/images/ebaydescription.png)"class="image-container">
<img src="static/googleimages/images/ebay.png" alt="ebaylogo" class="image" />
</div>
           <div class="image-container" style="width:400px;float:left;border:100px;margin-left:30%;--hover-image:url(static/googleimages/images/mondaycomdescription.png)"class="image-container">
<img src="static/googleimages/images/mondaycom.png" alt="mondaycom" class="image" />
</div>
       <div class="image-container" style="width:400px;float:left;--hover-image:url(static/googleimages/images/googledescription.png)"class="image-container">
<img src="static/googleimages/images/googlelogo.png" alt="googlelogo" class="image" />
</div>
               <div class="image-container" style="width:400px;float:left;border:100px;margin-left:30%;--hover-image:url(static/googleimages/images/paloaltodescription.png)"class="image-container">
<img src="static/googleimages/images/paloalto.png" alt="paloalto" class="image" />
</div>
         <div class="image-container" style="width:400px;float:left;--hover-image:url(static/googleimages/images/inteldescription.png)"class="image-container">
<img src="static/googleimages/images/intellogo.png" alt="intellogo" class="image" />
</div>
       <div class="image-container" style="width:400px;float:left;border:100px;margin-left:30%;--hover-image:url(static/googleimages/images/nvidiadescription.png)"class="image-container">
<img src="static/googleimages/images/nvidia.png" alt="nvidia" class="image" />
</div>
    <div class="image-container" style="width:400px;float:left;--hover-image:url(static/googleimages/images/viatransportdescription.png)"class="image-container">
<img src="static/googleimages/images/vialogo.png" alt="vialogo" class="image" />
</div>
    <div class="image-container" style="width:400px;float:left;border:100px;margin-left:30%;--hover-image:url(static/googleimages/images/taranisdescription.png)"class="image-container">
<img src="static/googleimages/images/taranis.png" alt="taranislogo" class="image" />
</div>
     <div class="image-container" style="width:400px;float:left;--hover-image:url(static/googleimages/images/tailormeddescription.png)"class="image-container">
<img src="static/googleimages/images/tailormed.png" alt="tailormedlogo" class="image" />
</div>
    <div class="image-container" style="width:400px;float:left;border:100px;margin-left:30%;--hover-image:url(static/googleimages/images/sciplaydescription.png)"class="image-container">
<img src="static/googleimages/images/sciplaylogo.png" alt="sciplaylogo" class="image" />
</div>
      <div class="image-container" style="width:400px;float:left;--hover-image:url(static/googleimages/images/nextdescription.png)"class="image-container">
<img src="static/googleimages/images/nextlogo.png" alt="tailormedlogo" class="image" />
</div>
    <div class="image-container" style="width:400px;float:left;border:100px;margin-left:30%;--hover-image:url(static/googleimages/images/fireblocksdescription.png)"class="image-container">
<img src="static/googleimages/images/fireblockslogo.png" alt="sciplaylogo" class="image" />
</div>

      <div class="image-container" style="width:400px;float:left;--hover-image:url(static/googleimages/images/intuitdescription.png)"class="image-container">
<img src="static/googleimages/images/intuit.png" alt="intuitlogo" class="image" />
</div>
     <div class="image-container" style="width:400px;float:left;border:100px;margin-left:30%;--hover-image:url(static/googleimages/images/bizzabodescription.png)"class="image-container">
<img src="static/googleimages/images/bizzabo.png" alt="bizzabologo" class="image" />
</div>
          <div class="image-container" style="width:400px;float:left;--hover-image:url(static/googleimages/images/axoniusdescription.png)"class="image-container">
<img src="static/googleimages/images/axonius.png" alt="intuitlogo" class="image" />
</div>
<br>

    <div style="position: fixed; left: 10px; top:900px;">
    <a href="/alum_apply"><button id = "alply">apply for a job</button></a>

</div>

</center>



</body>
</html>