<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <center>
<header>
<img src="static/imgs/header.png" style=width="80" height="80">
</header>

        <p id = "name">{{user["name"]}}</p>
        <p id = "degree">degree: {{user["degree"]}}</p>
        <form action="/alum_profile" method="post" enctype="multipart/form-data">
            <!-- type your CV here<input type="text" name="CV-TEXT" height="2000" width="100px"> -->
            <p id = "words" >Upload A File Here:-</p> 
            <!-- <input type="file" name="CV" id = "cv" > -->
            <label for="file-upload" id="cv" style="color: black;">
            Custom Upload
            </label>
            <br>
            <input id="file-upload" type="file" style="visibility: hidden;"/>
            <br>
            <input type="submit" id = "submit2" >
        </form>

{%if user["CV"] != None %}
<p > {{user["CV"]}}</p>
{%endif%}

        <h2 id = "yes" >Here Are Your Applications And Their Status</h2>
        <ul>
        {%if applications != None%}    
        {%for appli in applications%}
        <li>{{appli}} {{applications[appli]["Role"]}} : {{applications[appli]["Status"]}}</li>
        {%endfor%}
        {%endif%}
        </ul>

<footer>
   <img src="static/imgs/footer.png" style=width="80" height="450">
</footer>
</center>
</body>
</html>