<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
<header>
 <nav>
        <center>   
        <link rel="stylesheet" href="static/css/topnav.css">
        <!-- <img class="topbar" src="static/imgs/logo.png" > -->
        <a class="topbar" href="/alum_home">home</a>
        <a class="topbar" href="https://place-il.org/about/">About Us</a>
        <a class="topbar" href="https://place-il.org/contact-us/">Join Us</a>
        </center>
</header>
<center>

    <p id = "name" >{{user["name"]}}</p>
    <p id = "degree" >degree: {{user["degree"]}}</p>


    <form action="/alum_profile" method="post" enctype="multipart/form-data">
    <!-- type your CV here<input type="text" name="CV-TEXT" height="2000" width="100px"> -->
     <p id = "words" >Upload A File Here:- </p> 
     <input type="file" name="CV" id = "cv" >
     <br>
     <br>
    <input type="submit" id = "submit2" >
</form>

<h2 id = "yes">Here Are Your Applications And Their Satuts--></h2>
<ul>
{%if applications != None%}    
{%for appli in applications%}
<li id = "yes2">{{appli}} {{applications[appli]["Role"]}} : {{applications[appli]["Status"]}}</li>
{%endfor%}
{%endif%}
</ul>
</center>

<footer id="footer">
   <img src="static/imgs/footer.png">
</footer>
</body>
</html>