<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>a_signup</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<h1>alumni sign up </h1>

<form action="/alum_signup" method="post">
    <input class="login" type="email" placeholder="email" required="@" name="email">
    <input class="login" type="password" placeholder="password" minlength="6" name="password">
    <input class="login" type="text" placeholder="name" name="name">
    <input type="submit">
</form>
    <a href="/alum_login"><button>login</button></a>
</body>
</html>