<!DOCTYPE html>
<html lang="en">
<head>

 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>choice</title>
    <link rel="stylesheet" href="static/css/choice.css">
<body>
   

      <!-- Bootstrap JavaScript -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
      <header>
      <img src="static/imgs/logo.png" >
      </header>
   <center>   
      <br>

      <h1>are you an employer or an alumni</h1>

      <br>

<form action="/" method="post" class="sign" ><input type="submit" class="choice" value="employer" name="answer" style="background-color:ff33cc;"></form>

<br>

<form action="/" method="post" class="sign"><input type="submit" class="choice" value="alumni" name="answer" style="background-color:ff33cc;"></form>
 <div class="image-container">
  <img src="/static/nokialogo.png" alt="Image 1" class="image" />
</div>
          <a href="/employer_login"><button id = "sign" >employer</button></a>
            <br>
            <br>
         <a href="/alum_login" ><button id = "sign1" >alumni</button></a>
   </center>

<footer>
   <p> ok </p>
</footer>
</body>
</html> 