<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
    
</head>
<center>
    <body>
<header>
    <nav>
        <center>   
        <link rel="stylesheet" href="static/css/topnav.css">
        <!-- <img class="topbar" src="static/imgs/logo.png" > -->
        <a class="topbar" href="https://place-il.org/about/">About Us</a>
        <a class="topbar" href="https://place-il.org/contact-us/">Join Us</a>
        </center>
      </nav>
</header>
        <h1 id = "tet">employer login </h1>
        <form action="/employer_login" method="post">
            <br>
            <input id = "lol" type="email" placeholder="email" required="@" name="email">
            <br>
            <br>
            <input id = "lo" type="password" placeholder="password" minlength="6" name="password">
            <br>
            <br>
            <input type="submit" id = "submit1">
        </form>

    <footer id="footer">
     <img src="static/imgs/footer.png" style="width:80; height:450;">
    </footer>     
</body>
</center>
</html>