<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e_home</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<header>
<img src="static/imgs/header.png" style=width="80" height="80">
</header>    
<br> 
<br> <br><br><br> <br><br> <br> <br><br> <br><br> <br><br> <br><br> <br><br> <br>

<center>
    <form action="/employer_home" method="post">
        <input type="text" name="role" placeholder="Role" >
        <input type="number" name="amount" placeholder="Amount">
        <input type="submit">
</center>
    </form>


    <ul>
        {%if apps != None%}
        {%for app in apps%}
        <li>{{app}}</li>
        {%endfor%}
        {%endif%}
    </ul>


<footer> 
<img src="static/imgs/footer.png" >  
</footer>

</body>
</html>